.backImg {
  background-image: url('https://images.ctfassets.net/2pyx8rwuvz6x/5UDKqKNiktUlBrEEWT063B/e6004707fde3c432a54bfe9ecce2d293/BodyType-NewsroomPost-hero_0.png?fm=webp&q=85&w=2880&h=2880');
  background-repeat: no-repeat;
  background-size: cover;
}
